<p>Hello <%= @negotiation.user2_name %>,</p>

<p>You have been invited to a negotiation regarding the conflict titled "<%= @negotiation.conflict1.title %>." Please <a href="<%= @registration_link %>">register here</a> to view and respond to the negotiation.</p>

<p>Best regards,</p>
<p>Your App Team</p>